@media (min-width: 320px) and (max-width: 374px) {
}

@media (min-width: 375px) and (max-width: 767px) {
    

    ._third-heading-main-font {
        font-size: 20px;
        line-height: 24px;
      }

      ._second-heading-main-font {
        font-size: 36px;
        line-height: 47px;
      }

      ._paragraph-main-font {
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
      }

      ._heading-main-font {
        font-size: 36px;
        line-height: 47px;
      }

      .header__logo {
        max-width: 76px;
        margin-bottom: 30px;
    }

    .header_padding {
      padding-top: 60px;
      padding-bottom: 1px;
      margin-bottom: 0;
  }

  .header__paragraph {
    margin-bottom: 68px;
    text-align: center;
    width: 335px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header__heading {
  text-align: center;
  margin-bottom: 5px;
  width: 335px;
  margin-left: auto;
    margin-right: auto;
    display: block;
}

.__app-store-download-button {
  max-width: 180px;
}



















      .header__terms-policy-plantyx-logo {
        max-width: 165px;
    }

    .terms-policy {
        padding-top: 59px;
    }

    .footer__terms-policy {
        margin-top: 40px;
        padding-bottom: 50px;
    }

    .header__terms-policy-logo {
        display: block;
        max-width: 335px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
      
      .footer__terms-policy-links {
        max-width: 335px;
        margin-left: auto;
        margin-right: auto;
      }

      .terms-policy__text-wrapper {
        width: 335px;
        margin-left: auto;
        margin-right: auto;
      }

      .terms-policy__text-wrapper > ._paragraph-main-font {
        font-size: 14px;
      }

      .footer__terms-policy-links, .footer__terms-policy-links > a {
        font-size: 14px;
        line-height: 17px;
      }

      .terms-policy__bg-wrapper {
        background: url("/img/terms-policy-bg-2.png")  no-repeat;
        background-position: 105% -0.1%;
        background-size: 68%;
      }

      .header__terms-policy {
        padding-top: 60px;
    }
}
