@media (min-width: 768px) and (max-width: 1024px) {

    .slick-dots {
        bottom: -73px !important;
    }

  ._margin-left-115 {
    margin-left: 0;
  }

  ._margin-left-50 {
    margin-left: 0;
  }

  .header__logo {
    max-width: 76px;
    margin-bottom: 24px;
  }

  ._second-heading-main-font {
    font-size: 36px;
    line-height: 43px;
  }

  .header_padding {
    padding-top: 40px;
    padding-bottom: 615px;
    margin-bottom: 0;
  }

  .header__heading {
    width: 692px;
    text-align: center;
    text-transform: capitalize;
    margin-left: auto;
    margin-right: auto;
  }

  ._heading-main-font {
    font-size: 48px;
    line-height: 58px;
  }

  .header__paragraph {
    margin-bottom: 47px;
    text-align: center;
    width: 545px;
  }

  .__app-store-download-button {
    max-width: 210px;
  }

  .header__banner-img-wrapper {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .header__banner-img {
    max-width: 801px;
    position: absolute;
    left: 1%;
    -webkit-transform: translate(-110px, -262px);
    -moz-transform: translate(-110px, -262px);
    -ms-transform: translate(-110px, -262px);
    -o-transform: translate(-110px, -262px);
    transform: translate(-110px, -262px);
  }

  .features_padding {
    padding-top: 0;
    padding-bottom: 105px;
  }

  .features__heading {
    margin-bottom: 50px;
  }

  .features_second-heading {
    margin-bottom: 24px;
    width: auto;
    text-align: center;
  }

  .features__paragraph {
    max-width: 453px;
    text-align: center;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .features__plant-identific-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
  }

  .features__daily-care-img {
    margin-top: 0;
    margin-bottom: 80px;
  }

  .features__plant-database-img {
    margin-top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .how-to-use__steps_wrapper {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .how-to-use__steps_wrapper > .features__paragraph {
    max-width: 590px;
    margin-bottom: 51px;
  }

  .step_three__img {
    margin-right: 0 !important;
  }

  .features__step-wrapper {
    margin-top: 0;
    margin-bottom: 51px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .how-to-use__steps_wrapper > a {
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  .features__how-use-app-img {
    max-width: 475px;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
  }

  .testimonials_padding {
    padding-top: 70px;
    padding-bottom: 65px;
  }

  .download__iphone-img {
    display: none;
  }

  .download_padding {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .download__text-section-wrapper {
    text-align: center;
  }

  .download__heading {
    width: 632px;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    text-transform: capitalize;
    color: #2e6455;
  }

  .social__plantyx-logo {
    margin-left: 74px;
  }

  .terms-footer__terms,
  .terms-footer__terms > a {
    font-size: 16px;
    line-height: 19px;
  }

  .social__social-ico-wrapper {
    margin-right: 82px;
  }

  .terms-footer__terms {
    margin-left: 74px;
  }

  .footer__copyright {
    margin-right: 77px;
  }

  .testimonials__slider {
    width: 768px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
  }

  .flower-bg-wrapper {
    max-width: 768px;
  }

  .testimonials__slider-item {
    width: 572px !important;
    margin-left: 97px !important;
    margin-bottom: 12px;
  }

  .testimonials__flower-big {
    left: 3%;
  }

  .testimonials__flower-small {
    left: 80.5%;
  }

  .testimonials__heading {
    margin-bottom: 8px;
  }

  ._third-heading-main-font {
    font-size: 28px;
    line-height: 29px;
  }

  .header__terms-policy-logo {
    display: block;
    max-width: 688px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__terms-policy-links {
    max-width: 688px;
    margin-left: auto;
    margin-right: auto;
  }

  .terms-policy__text-wrapper {
    width: 688px;
    margin-left: auto;
    margin-right: auto;
  }

  .terms-policy__text-wrapper > ._paragraph-main-font {
    font-size: 16px !important;
  }

  ._margin-top-60 {
    margin-top: 40px;
  }

  .header__terms-policy-plantyx-logo {
    max-width: 165px;
  }

  .terms-policy {
    padding-top: 79px;
    padding-bottom: 60px;
  }

  .footer__terms-policy {
    margin-top: 52px;
    padding-bottom: 40px;
  }

  .terms-policy__bg-wrapper {
    background: url("/img/terms-policy-bg-2.png") no-repeat right top;
    -webkit-background-size: 48% 48%;
    -moz-background-size: 48%;
    -o-background-size: 48%;
    background-size: 48%;
  }

  .header__terms-policy {
    padding-top: 48px;
  }

  .features__flower-bg-wrapper {
    position: absolute;
    z-index: -100;
    left: -7.1%;
    top: 5%;
  }

  .not-found {
    margin-bottom: 20px;
  }

  .error-text {
    font-size: 16px;
    font-weight: normal;
  }

  .error-block-button {
    margin-top: 40px;
  }

  .error-block-404 {
    padding-top: 95px;
  }

  .terms-policy-footer-wrapper-for-width {
    width: 688px;
  }

  .terms-policy-footer-margin-left {
    margin-left: 0;
  }

  .terms-policy-footer-margin-right {
    margin-right: 0;
  }

  svg .line1 {
    stroke-dasharray: 1300;
    -webkit-animation: dash 3s linear;
    -moz-animation: dash 3s linear;
    -o-animation: dash 3s linear;
    animation: dash 3s linear;
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    animation-delay: 0.2s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  svg .line2 {
    stroke-dasharray: 1300;
    -webkit-animation: dash 3s linear;
    -moz-animation: dash 3s linear;
    -o-animation: dash 3s linear;
    animation: dash 3s linear;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  svg .line3 {
    stroke-dasharray: 1300;
    -webkit-animation: dash 2s linear;
    -moz-animation: dash 2s linear;
    -o-animation: dash 2s linear;
    animation: dash 2s linear;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  svg .line4 {
    stroke-dasharray: 1300;
    -webkit-animation: dash 1s linear running;
    -moz-animation: dash 1s linear running;
    -o-animation: dash 1s linear running;
    animation: dash 1s linear running;
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    -o-animation-delay: 0.7s;
    animation-delay: 0.7s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  svg .line5 {
    stroke-dasharray: 1300;
    -webkit-animation: dash 1s linear;
    -moz-animation: dash 1s linear;
    -o-animation: dash 1s linear;
    animation: dash 1s linear;
    -webkit-animation-delay: 1.1s;
    -moz-animation-delay: 1.1s;
    -o-animation-delay: 1.1s;
    animation-delay: 1.1s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  svg .line6 {
    stroke-dasharray: 1300;
    -webkit-animation: dash 1s linear;
    -moz-animation: dash 1s linear;
    -o-animation: dash 1s linear;
    animation: dash 1s linear;
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    -o-animation-delay: 1.6s;
    animation-delay: 1.6s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  svg .line7 {
    stroke-dasharray: 1300;
    -webkit-animation: dash 0.2s linear;
    -moz-animation: dash 0.2s linear;
    -o-animation: dash 0.2s linear;
    animation: dash 0.2s linear;
    -webkit-animation-delay: 1.8s;
    -moz-animation-delay: 1.8s;
    -o-animation-delay: 1.8s;
    animation-delay: 1.8s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .svg-container {
    position: absolute;
    width: 768px;
    padding-bottom: 1px;
    vertical-align: middle;
    overflow: hidden;
    top: 90%;
    left: 22%;
    z-index: 100;
    margin-left: 10px;
  }

  .header__banner-img {
    -webkit-transform: translate(-110px, -267px);
    -moz-transform: translate(-110px, -267px);
    -ms-transform: translate(-110px, -267px);
    -o-transform: translate(-110px, -267px);
    transform: translate(-110px, -267px);
    max-width: 801px;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .svg-container {
    top: 90%;
    left: 28%;
    z-index: 100;
    margin-left: 10px;
  }

  .header__banner-img {
    -webkit-transform: translate(-110px, -270px);
    -moz-transform: translate(-110px, -270px);
    -ms-transform: translate(-110px, -270px);
    -o-transform: translate(-110px, -270px);
    transform: translate(-110px, -270px);
    max-width: 804px;
  }
}
