@media (min-width: 375px) and (max-width: 767px) {
    .slick-dots {
        bottom: -45px !important;
    }

  ._third-heading-main-font {
    font-size: 20px;
    line-height: 24px;
  }

  ._second-heading-main-font {
    font-size: 20px;
    line-height: 24px;
  }

  ._paragraph-main-font {
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
  }

  ._heading-main-font {
    font-size: 36px;
    line-height: 47px;
    text-transform: capitalize;
  }

  .header__logo {
    max-width: 76px;
    margin-bottom: 30px;
  }

  .header_padding {
    padding-top: 60px;
    padding-bottom: 398px;
    margin-bottom: 0;
  }

  .header__paragraph {
    margin-bottom: 68px;
    text-align: center;
    width: 335px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .header__heading {
    text-align: center;
    margin-bottom: 5px;
    width: 335px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .__app-store-download-button {
    max-width: 180px;
  }

  .header__banner-img-wrapper {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .header__banner-img {
    max-width: 623px;
    position: absolute;
    left: 1%;
    -webkit-transform: translate(-160px, -170px);
    -moz-transform: translate(-160px, -170px);
    -ms-transform: translate(-160px, -170px);
    -o-transform: translate(-160px, -170px);
    transform: translate(-160px, -170px);
  }

  .features__heading {
    margin-bottom: 30px;
  }

  .features_second-heading {
    margin-bottom: 24px;
    width: 320px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  .features__paragraph {
    max-width: 335px;
    text-align: center;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
  }

  .features__plant-identific-img {
    max-width: 335px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 70px;
  }

  .features__daily-care-img {
    max-width: 335px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 70px;
  }

  .features__plant-database-img {
    max-width: 335px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .how-to-use__steps_wrapper {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .features__step-wrapper {
    display: block;
    margin-top: 45px;
    margin-bottom: 40px;
  }

  .features__how-use-app-img {
    max-width: 335px;
    margin-top: 74px;
    margin-left: auto;
    margin-right: auto;
  }

  .step > img {
    max-width: 130px;
    margin-right: auto;
    margin-left: auto;
  }

  .features__step {
    margin-top: 4px;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  .step {
    margin-bottom: 40px;
    text-align: center;
  }

  .features_padding {
    padding-bottom: 50px;
    padding-top: 150px;
  }

  .testimonials_padding {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .testimonials__heading {
    margin-bottom: 35px;
  }

  .testimonials__flower-big {
    max-width: 91px;
    top: 1%;
    left: 0%;
    z-index: 100;
  }

  .testimonials__flower-small {
    max-width: 49px;
    top: 87%;
    left: 81.5%;
    z-index: 100;
  }

  .testimonials__slider-item {
    width: 335px !important;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 20px !important;
    margin-right: 10px !important;
  }

  .testimonials__slider {
    width: 375px;
  }

  .flower-bg-wrapper {
    max-width: 375px;
  }

  .download__heading {
    width: 335px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    text-transform: capitalize;
    color: #2e6455;
  }

  .download__paragraph {
    max-width: 335px;
    margin-top: 24px;
    margin-bottom: 50px;
    text-align: center;
  }

  .download__text-section-wrapper {
    text-align: center;
  }

  .download__iphone-img {
    display: none;
  }

  .download_padding {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .social__plantyx-logo {
    margin-left: 20px;
  }

  .social__social-ico-wrapper {
    margin-right: 26px;
    height: auto;
    margin-top: 8px;
  }

  .social__plantyx-logo {
    max-width: 140px;
  }

  .social__social-ico-wrapper > img {
    vertical-align: middle;
  }

  .footer__copyright {
    text-align: center;
    margin-top: 12px;
    font-size: 14px;
    line-height: 17px;
  }

  .terms-footer__terms {
    text-align: center;
  }
  .header__terms-policy-plantyx-logo {
    max-width: 165px;
  }

  .terms-policy {
    padding-top: 59px;
    padding-bottom: 40px;
  }

  .footer__terms-policy {
    margin-top: 40px;
    padding-bottom: 50px;
  }

  .header__terms-policy-logo {
    display: block;
    max-width: 335px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__terms-policy-links {
    max-width: 335px;
    margin-left: auto;
    margin-right: auto;
  }

  .terms-policy__text-wrapper {
    width: 335px;
    margin-left: auto;
    margin-right: auto;
  }

  .terms-policy__text-wrapper > ._paragraph-main-font {
    font-size: 14px;
  }

  .footer__terms-policy-links,
  .footer__terms-policy-links > a {
    font-size: 14px;
    line-height: 17px;
  }

  .terms-policy__bg-wrapper {
    background: url("/img/terms-policy-bg-2.png") no-repeat;
    background-position: 194% -4.1%;
    -webkit-background-size: 82% 82%;
    -moz-background-size: 82%;
    -o-background-size: 82%;
    background-size: 82%;
  }

  .header__terms-policy {
    padding-top: 60px;
  }

  .terms-policy__main-heading_font {
    font-size: 36px;
    line-height: 47px;
  }

  .features__flower-bg-wrapper {
    display: none;
  }

  .not-found {
    margin-bottom: 20px;
  }

  .error-text {
    font-size: 16px;
    width: 235px;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
  }

  .error-block-404 {
    padding-top: 120px;
  }

  .error-block-button {
    margin-top: 56px;
  }

  .terms-policy-footer-wrapper-for-width {
    width: 372px;
  }

  svg .line1 {
    stroke-dasharray: 1300;
    -webkit-animation: dash 3s linear;
    -moz-animation: dash 3s linear;
    -o-animation: dash 3s linear;
    animation: dash 3s linear;
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    animation-delay: 0.2s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  svg .line2 {
    stroke-dasharray: 1300;
    -webkit-animation: dash 3s linear;
    -moz-animation: dash 3s linear;
    -o-animation: dash 3s linear;
    animation: dash 3s linear;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  svg .line3 {
    stroke-dasharray: 1300;
    -webkit-animation: dash 2s linear;
    -moz-animation: dash 2s linear;
    -o-animation: dash 2s linear;
    animation: dash 2s linear;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  svg .line4 {
    stroke-dasharray: 1300;
    -webkit-animation: dash 1s linear running;
    -moz-animation: dash 1s linear running;
    -o-animation: dash 1s linear running;
    animation: dash 1s linear running;
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    -o-animation-delay: 0.7s;
    animation-delay: 0.7s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  svg .line5 {
    stroke-dasharray: 1300;
    -webkit-animation: dash 1s linear;
    -moz-animation: dash 1s linear;
    -o-animation: dash 1s linear;
    animation: dash 1s linear;
    -webkit-animation-delay: 1.1s;
    -moz-animation-delay: 1.1s;
    -o-animation-delay: 1.1s;
    animation-delay: 1.1s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  svg .line6 {
    stroke-dasharray: 1300;
    -webkit-animation: dash 1s linear;
    -moz-animation: dash 1s linear;
    -o-animation: dash 1s linear;
    animation: dash 1s linear;
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    -o-animation-delay: 1.6s;
    animation-delay: 1.6s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  svg .line7 {
    stroke-dasharray: 1300;
    -webkit-animation: dash 0.1s linear;
    -moz-animation: dash 0.1s linear;
    -o-animation: dash 0.1s linear;
    animation: dash 0.1s linear;
    -webkit-animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
    -o-animation-delay: 1.7s;
    animation-delay: 1.7s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .svg-container {
    position: absolute;
    width: 290px;
    padding-bottom: 1px;
    vertical-align: middle;
    overflow: hidden;
    top: 92.5%;
    left: 11%;
    z-index: 100;
    margin-left: 10px;
  }

  .container-relative {
    max-width: 375px;
  }
}
