/*FONTS============================================================*/

@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Black.ttf");
  font-weight: 900;
}

/*=================================================================*/

/*  COMMON STYLES==================================================*/
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
  -moz-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

body {
  font-family: "Lato", sans-serif;
}

.transition_disabled {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

._heading-main-font {
  font-weight: bold;
  font-size: 69px;
  line-height: 83px;
  color: #2e6455;
}

._paragraph-main-font {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #15382f;
}

._second-heading-main-font {
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  color: #2e6455;
}

._third-heading-main-font {
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  color: #2e6455;
}

._margin-top-60 {
  margin-top: 60px;
}

._margin-top-28 {
  margin-top: 28px;
}

._margin-top-24 {
  margin-top: 24px;
}

._margin-top-17 {
  margin-top: 17px;
}

._margin-top-50 {
  margin-top: 50px;
}

._margin-left-115 {
  margin-left: 115px;
}

._margin-left-50 {
  margin-left: 90px;
}

section {
  position: relative;
}

.wrapper {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

a:hover {
  text-decoration: none;
}

._hide-on-desktop-mobile {
  display: none;
}

.__app-store-download-button {
  max-width: 285px;
  z-index: 100 !important;
}

._app-store-btn {
  padding: 0 !important;
  z-index: 100;
}

/*=================================================================*/

.header_padding {
  padding-top: 138px;
  /* padding-bottom: 217px;
  margin-bottom: 24px; */
}

.header__banner-img-wrapper {
  /* position: relative; */
  width: 100%;
}

.header__banner-img {
  width: 1360px;
  position: absolute;
  top: -80%;
  left: -110%;
  z-index: -1000 !important;
}

.header__logo {
  max-width: 119px;
  margin-bottom: 40px;
}

.header__heading {
  width: 692px;
  text-align: center;
  margin-bottom: 24px;
}

.header__paragraph {
  margin-bottom: 43px;
  text-align: center;
  width: 545px;
}

.features_padding {
  padding-top: 343px;
  padding-bottom: 160px;
}

.features__bg-wrapper {
  position: relative;
}

.features__background {
  /* background-image: url("/img/feature-flower-bg.png");
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: 151% 112%;
  background-position: 388% 105%; */
}

.features__flower-bg-wrapper {
  position: absolute;
  z-index: -100;
  left: 8.9%;
  top: 8%;
}

.features__heading {
  margin-bottom: 80px;
}

.features__plant-identific-img {
  max-width: 473px;
}

.features__daily-care-img {
  max-width: 453px;
  margin-top: 50px;
  margin-left: 135px;
}

.features__plant-database-img {
  max-width: 471px;
  margin-top: 50px;
}

.features__how-use-app-img {
  max-width: 484px;
  margin-top: 160px;
}

.features__text-block-wrapper {
  margin: auto;
}

.features_second-heading {
  margin-bottom: 16px;
  width: 414px;
}

.features__paragraph {
  width: 488px;
}

.features__step-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
  margin-bottom: 40px;
}

.features__step {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #15382f;
  margin-top: 6px;
  max-width: 130px;
  display: block;
  margin-right: auto;
}

.how-to-use__steps_wrapper {
  margin-top: 160px;
}

.how-to-use__steps_wrapper > .features__paragraph {
  width: 590px;
}

.features__step_first {
  max-width: 120px;
}

.step > img {
  max-width: 130px;
  display: block;
  margin-right: 70px;
}

.testimonials_background {
  background: #f3fafe;
}

.testimonials_padding {
  padding-top: 80px;
  padding-bottom: 60px;
}
.testimonials__heading {
  margin-bottom: 46px;
  font-size: 48px;
  line-height: 58px;
}

.testimonials__slider {
  width: 1250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}

.testimonials__slider-item {
  background: #ffffff;
  -webkit-box-shadow: 6px 4px 50px rgba(215, 215, 215, 0.25);
  -moz-box-shadow: 6px 4px 50px rgba(215, 215, 215, 0.25);
  box-shadow: 6px 4px 50px rgba(215, 215, 215, 0.25);
  width: 387px !important;
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 15px !important;
  margin-right: 10px !important;
  z-index: 100;
  position: relative;
  min-height: 418px;
  height: auto;
  text-align: center;
}

.testimonials__slider-item-photo {
  width: 88px;
}

.testimonials__slider-item-heading {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #2e6455;
  margin-top: 16px;
  margin-bottom: 12px;
}

.testimonials__slider-item-rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.testimonials__slider-item-comment {
  max-width: 325px;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #15382f;
  opacity: 0.8;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

.testimonials__flower-big {
  max-width: 167px;
  position: absolute;
  top: -9%;
  left: -5%;
  z-index: 100;
}

.testimonials__flower-small {
  max-width: 98px;
  position: absolute;
  top: 83%;
  left: 95%;
  z-index: 100;
}

.download_padding {
  padding-top: 160px;
  padding-bottom: 80px;
}

.download__iphone-img {
  max-width: 704px;
  position: relative;
  left: -49%;
}

.download__paragraph {
  margin-top: 22px;
  margin-bottom: 41px;
}

.download__heading {
  width: 490px;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  text-transform: capitalize;
  color: #2e6455;
}

.social_padding {
  padding-top: 31px;
  padding-bottom: 31px;
}

.social_background {
  background: #304343;
}

.social__plantyx-logo {
  max-width: 148px;
}

.social__social-ico-wrapper {
  width: 92px;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer_padding {
  padding-top: 16px;
  padding-bottom: 17px;
}

.footer_background {
  background: #000000;
}

.terms-footer__terms,
.terms-footer__terms > a {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.terms-footer__terms > a:hover {
  text-decoration: underline;
}

.footer__copyright {
  text-align: right;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: rgba(151, 163, 200, 0.5);
}

.flower-bg-wrapper {
  position: relative;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

.terms-policy__text-wrapper {
  width: 994px;
  margin-left: auto;
  margin-right: auto;
}

.footer__terms-policy {
  margin-top: 91px;
  padding-bottom: 50px;
}

.footer__terms-policy-links,
.footer__terms-policy-links > a {
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #15382f;
}

.footer__terms-policy-links > a:hover {
  text-decoration: underline;
}

.terms-policy {
  padding-top: 115px;
  padding-bottom: 90px;
}

.terms-policy__main-heading_font {
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  text-transform: capitalize;
  color: #2e6455;
}

.header__terms-policy {
  padding-top: 73px;
}

.header__terms-policy-plantyx-logo {
  max-width: 183px;
}

.terms-policy__bg-wrapper {
  background: url("/img/terms-policy-bg-1.png") no-repeat left top,
    url("/img/terms-policy-bg-2.png") no-repeat right top;
}

.header__terms-policy-logo {
  display: block;
  max-width: 994px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.footer__terms-policy-links {
  max-width: 994px;
  margin-left: auto;
  margin-right: auto;
}

.policy-list__style > li::before {
  content: "•";
  margin-right: 25px;
}

.error-404 {
  font-weight: bold;
  font-size: 144px;
  line-height: 127.5%;
  letter-spacing: 0.075em;
  color: #2E6455;
}

.error-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #2E6455;
}

.error__wrapper {
  text-align: center;
}

.error-block-404 {
  padding-top: 229px;
  height: 90vh;
}

.not-found {
  margin-bottom: 30px;
}

.error-block-button {
  font-weight: bold;
  font-size: 20px;
  line-height: 51px;
  text-align: center;
  color: #FFFFFF;
  width: 260px;
  height: 70px;
  background: #3ECCCF;
  border-radius: 100px;
  margin-top: 60px;
}

.error-block-button:hover {
  color: #2E6455;
}

.terms-policy-footer-wrapper-for-width {
  width: 994px;
}

.svg-container {
  z-index: -100 !important;
}

svg {
  z-index: -100 !important;
}

svg .line1 {
  stroke-dasharray: 1300;
  -webkit-animation: dash 3s linear;
  -moz-animation: dash 3s linear;
  -o-animation: dash 3s linear;
  animation: dash 3s linear;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

svg .line2 {
  stroke-dasharray: 1300;
  -webkit-animation: dash 3s linear;
  -moz-animation: dash 3s linear;
  -o-animation: dash 3s linear;
  animation: dash 3s linear;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

svg .line3 {
  stroke-dasharray: 1300;
  -webkit-animation: dash 3s linear;
  -moz-animation: dash 3s linear;
  -o-animation: dash 3s linear;
  animation: dash 3s linear;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  animation-delay: 0.9s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

svg .line4 {
  stroke-dasharray: 1300;
  -webkit-animation: dash 1s linear running;
  -moz-animation: dash 1s linear running;
  -o-animation: dash 1s linear running;
  animation: dash 1s linear running;
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  -o-animation-delay: 1.3s;
  animation-delay: 1.3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

svg .line5 {
  stroke-dasharray: 1300;
  -webkit-animation: dash 3s linear;
  -moz-animation: dash 3s linear;
  -o-animation: dash 3s linear;
  animation: dash 3s linear;
  -webkit-animation-delay: 2.3s;
  -moz-animation-delay: 2.3s;
  -o-animation-delay: 2.3s;
  animation-delay: 2.3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

svg .line6 {
  stroke-dasharray: 1300;
  -webkit-animation: dash 3s linear;
  -moz-animation: dash 3s linear;
  -o-animation: dash 3s linear;
  animation: dash 3s linear;
  -webkit-animation-delay: 2.8s;
  -moz-animation-delay: 2.8s;
  -o-animation-delay: 2.8s;
  animation-delay: 2.8s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

svg .line7 {
  stroke-dasharray: 1300;
  -webkit-animation: dash 0.3s linear;
  -moz-animation: dash 0.3s linear;
  -o-animation: dash 0.3s linear;
  animation: dash 0.3s linear;
  -webkit-animation-delay: 3.2s;
  -moz-animation-delay: 3.2s;
  -o-animation-delay: 3.2s;
  animation-delay: 3.2s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.svg-container {
  position: absolute;
  width: 1280px;
  padding-bottom: 1px;
  vertical-align: middle;
  overflow: hidden;
  top: 71%;
  left: -8%;
  z-index: 100;
  margin-left: 10px;
}

.container-relative {
  position: relative;
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1300;
    fill-opacity: 0;
    stroke: #01c3b7;
  }
  to {
    stroke-dashoffset: 0;
    fill-opacity: 1;
    stroke: #01c3b7;
    fill: #01c3b7;
  }
}

@-moz-keyframes dash {
  from {
    stroke-dashoffset: 1300;
    fill-opacity: 0;
    stroke: #01c3b7;
  }
  to {
    stroke-dashoffset: 0;
    fill-opacity: 1;
    stroke: #01c3b7;
    fill: #01c3b7;
  }
}

@-o-keyframes dash {
  from {
    stroke-dashoffset: 1300;
    fill-opacity: 0;
    stroke: #01c3b7;
  }
  to {
    stroke-dashoffset: 0;
    fill-opacity: 1;
    stroke: #01c3b7;
    fill: #01c3b7;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1300;
    fill-opacity: 0;
    stroke: #01c3b7;
  }
  to {
    stroke-dashoffset: 0;
    fill-opacity: 1;
    stroke: #01c3b7;
    fill: #01c3b7;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .header__banner-img {
    width: 1213px;
    position: absolute;
    top: -61%;
    left: -72%;
  }

  .svg-container {
    position: absolute;
    width: 1146px;
    padding-bottom: 1px;
    vertical-align: middle;
    overflow: hidden;
    top: 74%;
    left: 3%;
    z-index: 100;
    margin-left: 10px;
  }
}

